<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
    <h1 class="col-6 offset-3">SignUp on Exploration</h1>
    <div class="col-6 offset-3">
        <form action="/signup" method="POST" class="needs-validation" novalidate>
            <div class="mb-3"> <!-- mb is margin from bottom-->
                <lable for="username" class="form-label">Username</lable>
                <input name="username" type="text" id="username" class="form-control" required>
            <div class="valid-feedback">
                username available
            </div>
            </div>

            <div class="mb-3"> <!-- mb is margin from bottom-->
                <lable for="email" class="form-label">Email</lable>
                <input name="email" type="email" id="email" class="form-control" required>
            </div>

            <div class="mb-3"> <!-- mb is margin from bottom-->
                <lable for="password" class="form-label">Password</lable>
                <input name="password" type="password" id="password" class="form-control" required>
           
            </div>
            <button class="btn btn-success">SignUp</button>
           
        </form>
    </div>
</div>